/* Styles de base pour la navbar */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  gap: 10px; /* Espacement entre le logo et le texte */
}

/* Style spécifique du logo */
.Nda-Logo {
  width: 100px; /* Taille du logo */
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out; /* Animation au survol */
}

/* Effet hover */
.Nda-Logo:hover {
  transform: scale(1.1); /* Agrandissement léger */
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));
}

.Navbar {
  /* background-color: #333; */
  background-color: white;
  width: 65%;
  height: 60px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.contact-button {
  background-color: black;
  width: auto;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #FFD7DE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links-button {
  padding: 20px;
}

/* Bouton Burger */
.burger-menu {
  display: none; /* Caché par défaut */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  height: 5px;
  background: black;
  border-radius: 2px;
}

/* Animation keyframes pour le menu déroulant */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Menu déroulant mobile avec animation */
.mobile-dropdown {
  position: absolute;
  top: 80px; /* Positionné sous la navbar */
  right: 10px;
  background-color: #333;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
  animation: slideDown 0.5s ease-out forwards;
}

.mobile-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-dropdown li {
  margin-bottom: 10px;
}

.mobile-dropdown li:last-child {
  margin-bottom: 0;
}

.mobile-dropdown a {
  color: white;
  text-decoration: none;
}

/* Classes utilitaires pour afficher/masquer en fonction de la taille d'écran */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Media Queries pour le Responsive */
@media (max-width: 768px) {
  .Navbar {
    width: 90%; /* Navbar prend 90% de la largeur en mobile */
  }
  .nav-links {
    display: none; /* Cacher les liens de navigation en mobile */
  }
  .contact-button {
    display: none; /* Cacher le bouton contact en mobile */
  }
  .mobile-only {
    display: block; /* Afficher le burger menu en mobile */
  }
}
